<div class="flex flex_center flex_column full-height">
  <mat-icon class="stroke" svgIcon="logo"></mat-icon>
  <app-spacing type="l8"></app-spacing>
  <form formGroup="form">
    <div class="flex flex_column">
      <p class="text text-16-24 text_medium">Email Address</p>
      <app-spacing type="l1"></app-spacing>
      <input
        class="mat-input"
        mat-input
        type="email"
        placeholder="johndoe@email.com"
      />
    </div>
    <app-spacing type="l4"></app-spacing>
    <div class="flex flex_column">
      <div class="flex flex_align-center flex_justify-between">
        <p class="text text-16-24 text_medium">Password</p>
        <app-button size="small" type="link"
          ><span>Forgot Password?</span></app-button
        >
      </div>
      <app-spacing type="l1"></app-spacing>
      <input
        class="mat-input"
        matInput
        type="{{ passwordVisible ? 'text' : 'password' }}"
      />
      <app-spacing type="l5"></app-spacing>
      <mat-checkbox class="example-margin"
        ><span class="text text-16-24 text_light t-default-black"
          >Keep me signed in</span
        ></mat-checkbox
      >
    </div>
  </form>
</div>
