@import "../../../../../shared/styles/vars.colors";

.teg {
  height: 36px;

  .line {
    position: relative;
    width: 100%;
    height: 0.5px;
    background: map-get($project-colors, "special-colors", bg);
  }
  &_text {
    position: absolute;
    padding: 0 8px;
    background: map-get($project-colors, "special-colors", white);
  }
}
