<app-card [width]="'352'">
  <app-item padding=" 0 0 24px">
    <app-item-img item-img>
      <mat-icon svgIcon="housing"></mat-icon>
    </app-item-img>
    <app-item-content item-content>
      <div class="flex flex_column gap-4">
        <p class="text text-16-24 text_medium t-gray-01">Housing</p>
        <p class="text text-18-24 text_extrabold t-black">$250.00</p>
      </div>
    </app-item-content>
    <div class="flex flex_column gap-6">
      <div class="flex flex_justify-end flex_align-center">
        <p class="text text-16-18 text_semibold t-gray-01">15%</p>
        <mat-icon class="stroke small" svgIcon="up-arrow"></mat-icon>
      </div>
      <p class="text text-12-16 text_light t-gray-01">Compare to last month</p>
    </div>
  </app-item>
  <app-item padding="16px 0">
    <p class="text text-16-24 text_semibold t-secondary">House Rent</p>
    <div class="flex flex_column gap-4">
      <p class="text text-16-24 text_semibold t-secondary">$230.00</p>
      <p class="text text-12-16 text_regular t-gray-03">17 May 2023</p>
    </div>
  </app-item>
  <app-item padding="16px 0">
    <p class="text text-16-24 text_semibold t-secondary">Parking</p>
    <div class="flex flex_column gap-4">
      <p class="text text-16-24 text_semibold t-secondary">$20.00</p>
      <p class="text text-12-16 text_regular t-gray-03">17 May 2023</p>
    </div>
  </app-item>
</app-card>
