mat-dialog-container.mat-dialog-container {
  height: auto;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: white;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #f3f3f3;
    border-radius: 4px;
  }
}
