@import "src/shared/styles/widjets/icon_tools";
@import "src/shared/styles/vars.colors";
@import "src/shared/styles/vars.animations";
@import "src/shared/styles/layout/typography";

@mixin tab-big {
  height: 48px;
  padding: 0 12px;
  &,
  span {
    @include text-big();
  }
}

@mixin tab-normal {
  height: 40px;
  padding: 0 12px;
  gap: 6px;
  &,
  span {
    @include text-normal();
  }
}

@mixin tab-small {
  height: 32px;
  padding: 0 12px;
  gap: 6px;
  &,
  span {
    @include text-normal();
  }
}

@mixin tab {

  position: relative;
  background-color: unset;
  line-height: 100%;
  width: 100%;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    transition: $trs;
    background-color: map-get($project-colors, "main", 300);
    opacity: 0;
  }

  &,
  span {
    @include text();
    user-select: none;
    color: map-get($project-colors, "text-icons", "dark", "quaternary");
  }
  & {
    transition: $trs;
  }

  .mat-icon {
    @include icon-size(20px)
  }

  &_left-iconly .tab_left-wrapper {
    display: block;
  }

  &_right-iconly .tab_right-wrapper {
    display: block;
  }

  &_icon-wrapper {
    display: none;
  }

  border-bottom: 1px solid map-get($project-colors, "gradation", 600);
}

@mixin tab-iconly($default_color) {
  .mat-icon {
    @include icon-color($default_color);
  }
}

@mixin tab-hover {
  &,
  span {
    color: map-get($project-colors, "text-icons", "dark", "tertiary");
  }
}

@mixin tab-active {
  &,
  span {
    color: map-get($project-colors, "text-icons", "dark", "secondary");
    @include weight-medium
  }
  &:before {
    opacity: 1;
  }
}

.tab {
  @include tab;

  &:hover {
    @include tab-hover;
  }

  &_active {
    @include tab-active;
  }

  &.tab {
    &_big {
      @include tab-big;
    }

    &_normal {
      @include tab-normal;
    }

    &_small {
      @include tab-small;
    }
  }
}
