<button
  [disabled]="disabled || loading"
  (press)="press.emit($event)"
  [attr.custom]="custom"
  class="btn flex flex_center"
  [class.btn_loading]="loading"
  [ngClass]="'btn_' + size + ' btn_' + type + ' btn_' + custom"
  [class.btn_left-iconly]="iconLeft.children.length > 0"
  [class.btn_right-iconly]="iconRight.children.length > 0"
  [class.btn_only-iconly]="icon.children.length > 0"
  [class.btn_rounded]="rounded"
>
  <div class="btn_icon-wrapper btn_left-wrapper" #iconLeft>
    <ng-content select="[btn-left-icon]"></ng-content>
  </div>
  <ng-container *ngIf="icon.children.length === 0">
    <ng-content></ng-content>
  </ng-container>
  <div class="btn_icon-wrapper btn_left-wrapper" #iconRight>
    <ng-content select="[btn-right-icon]"></ng-content>
  </div>
  <div class="btn_icon-wrapper btn_only-icon-wrapper" #icon>
    <ng-content select="[btn-icon]"></ng-content>
    <ng-container *ngIf="loading">
      <div class="spinner"></div>
    </ng-container>
  </div>
</button>
