<app-auth-content>
  <div class="text-center">
    <p class="text text-24-40 text_bold t-default-black">Forgot Password?</p>
    <app-spacing type="l1"></app-spacing>
    <p class="text text-14-20 text_regular t-gray-01">
      Enter your email address to get the password reset link.
    </p>
  </div>
  <form>
    <app-spacing type="l6"></app-spacing>
    <p class="text text-16-24 text_medium">Email Address</p>
    <app-spacing type="l1"></app-spacing>
    <input
      class="mat-input"
      mat-input
      type="email"
      placeholder="johndoe@email.com"
    />
    <app-spacing type="l5"></app-spacing>
    <app-button size="big" type="primary">
      <span class="text text-16-24 t-white">Password Reset</span>
    </app-button>
    <app-button routerLink="/login" size="big" type="link">
      <span class="text text-16-24 text_semibold t-gray-02">Back to login</span>
    </app-button>
  </form>
</app-auth-content>
