@import "../../../../../shared/styles/vars.colors";

:host {
  width: 100%;
}

.progress-bar {
  width: 100%;
  border-radius: 8px;
  height: 64px;
  position: relative;
  overflow: hidden;
  .final {
    z-index: 0;
  }

  .current {
    z-index: 0;
  }
}

.line-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
