@import "../vars.colors";
@import "../vars.animations";
@import "../vars.md";

@mixin weight-regular {
  font-weight: 400;
}
@mixin weight-medium {
  font-weight: 500;
}
@mixin weight-semibold {
  font-weight: 600;
}
@mixin weight-bold {
  font-weight: 700;
}
@mixin weight-extrabold {
  font-weight: 800;
}

@mixin text {
  transition: color $trs;
  font-family: $main_font;
  color: map-get($project-colors, "text-icons", "dark", "primary");
  user-select: text;
}

@mixin text-24-28 {
  font-size: 24px;
  line-height: 28px;
}
@mixin text-22-32 {
  font-size: 22px;
  line-height: 32px;
}
@mixin text-20-28 {
  font-size: 20px;
  line-height: 28px;
}
@mixin text-18-24 {
  font-size: 18px;
  line-height: 24px;
}

@mixin text-16-24 {
  font-size: 16px;
  line-height: 24px;
}

@mixin text-14-20 {
  font-size: 14px;
  line-height: 20px;
}

@mixin text-12-16 {
  font-size: 12px;
  line-height: 16px;
}

.text {
  @include text;
  &-40-32 {
    @include text-24-28;
  }
  &-24-28 {
    @include text-24-28;
  }
  &-22-32 {
    @include text-22-32;
  }
  &-20-28 {
    @include text-20-28;
  }
  &-18-24 {
    @include text-18-24;
  }
  &-16-24 {
    @include text-16-24;
  }
  &-14-20 {
    @include text-14-20;
  }
  &-12-16 {
    @include text-12-16;
  }
  &_regular {
    @include weight-regular;
  }
  &_medium {
    @include weight-medium;
  }
  &_semibold {
    @include weight-semibold;
  }
  &_bold {
    @include weight-bold;
  }
  &_extrabold {
    @include weight-extrabold;
  }
}

//@media (max-width: 1440px) {
//  font-size: calc(32px + (72 - 32) * ((100vw - 360px) / (1440 - 360)));
//  line-height: calc(40px + (80 - 40) * ((100vw - 360px) / (1440 - 360)));
//}
