<app-auth-content>
  <p class="text text-24-28 text_bold">Create an account</p>
  <app-spacing type="l6"></app-spacing>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="flex flex_column">
      <p class="text text-16-24 text_medium">Name</p>
      <app-spacing type="l1"></app-spacing>
      <input
        formControlName="name"
        class="mat-input"
        mat-input
        type="text"
        placeholder="Tanzir Rahman"
      />
      <app-spacing type="l4"></app-spacing>
      <p class="text text-16-24 text_medium">Email Address</p>
      <app-spacing type="l1"></app-spacing>
      <input
        formControlName="email"
        class="mat-input"
        mat-input
        type="email"
        placeholder="hello@example.com"
      />
      <app-spacing type="l4"></app-spacing>
      <p class="text text-16-24 text_medium">Password</p>
      <app-spacing type="l1"></app-spacing>
      <input
        formControlName="password"
        class="mat-input"
        matInput
        type="password"
      />
      <app-spacing type="l5"></app-spacing>
      <p class="text text-14-20 text_light t-gray-02">
        By continuing, you agree to our
        <a class="text t-primary"> terms of service.</a>
      </p>
      <app-spacing type="l3"></app-spacing>
      <app-button
        (click)="register()"
        [disabled]="form.invalid"
        size="big"
        type="primary"
        ><span class="text text-16-24 t-white">Sign up</span></app-button
      >
      <app-spacing type="l4"></app-spacing>
      <div class="teg flex flex_center">
        <div class="line"></div>
        <p
          class="teg_text flex flex_center text text-14-20 text_regular t-gray-01"
        >
          or sign in with
        </p>
      </div>
      <app-spacing type="l4"></app-spacing>
      <app-button size="big" type="link" custom="gray">
        <mat-icon btn-left-icon svgIcon="button-google"></mat-icon>
        <span class="text text-16-24 text_regular t-gray-02">Sign up</span>
      </app-button>
      <app-spacing type="l6"></app-spacing>
      <div class="text-center">
        <p class="text text_regular text-16-24 t-gray-01">
          Already have an account?<a
            class="text text-16-24 text_semibold t-primary"
            routerLink="/login"
          >
            Sign in here</a
          >
        </p>
      </div>
    </div>
  </form>
</app-auth-content>
