@import "src/shared/styles/widjets/icon_tools";
@import "src/shared/styles/vars.animations";
@import "src/shared/styles/vars.colors";

.mat-icon {
  @include icon-color(map-get($project-colors, "special-colors", white));
  &,
  svg,
  path {
    transition: fill $trs, stroke $trs;
  }
  &[data-mat-icon-name="logo"] {
    width: 276px;
    height: 32px;
    svg {
      @include icon-color(map-get($project-colors, "colors", primary));
    }
  }
  &[data-mat-icon-name="logo-white"] {
    width: 224px;
    height: 32px;
    svg {
      @include icon-color(
        map-get($project-colors, "special-colors", dark-white)
      );
    }
  }

  &.small {
    @include icon-size(16px);
  }
  &.normal {
    @include icon-size(20px);
  }
  &.big {
    @include icon-size(24px);
  }
  &.custom-32 {
    @include icon-size(32px);
  }
}
