<div class="flex flex_align-self-start flex_column">
  <mat-icon svgIcon="logo-white"></mat-icon>
  <app-spacing type="l4"></app-spacing>
  <app-button size="big" type="link">
    <mat-icon svgIcon="overview"></mat-icon>
    <span class="text text-16-24 text_semibold t-white">Overview</span>
  </app-button>
  <app-spacing type="l3"></app-spacing>
  <app-button size="big" type="link">
    <mat-icon svgIcon="overview"></mat-icon>
    <span class="text text-16-24 text_semibold t-white">Overview</span>
  </app-button>
  <app-spacing type="l3"></app-spacing>
  <app-button size="big" type="link">
    <mat-icon svgIcon="overview"></mat-icon>
    <span class="text text-16-24 text_semibold t-white">Overview</span>
  </app-button>
  <app-spacing type="l3"></app-spacing>
  <app-button size="big" type="link">
    <mat-icon svgIcon="overview"></mat-icon>
    <span class="text text-16-24 text_semibold t-white">Overview</span>
  </app-button>
  <app-spacing type="l3"></app-spacing>
  <app-button size="big" type="link">
    <mat-icon svgIcon="overview"></mat-icon>
    <span class="text text-16-24 text_semibold t-white">Overview</span>
  </app-button>
  <app-spacing type="l3"></app-spacing>
  <app-button size="big" type="link">
    <mat-icon svgIcon="overview"></mat-icon>
    <span class="text text-16-24 text_semibold t-white">Overview</span>
  </app-button>
  <app-spacing type="l3"></app-spacing>
  <app-button size="big" type="link">
    <mat-icon svgIcon="overview"></mat-icon>
    <span class="text text-16-24 text_semibold t-white">Overview</span>
  </app-button>
  <app-spacing type="l3"></app-spacing>
</div>
