<div class="flex flex_grow flex_column">
  <div class="flex flex_grow flex_column">
    <mat-icon svgIcon="logo-white"></mat-icon>
    <app-spacing type="l4"></app-spacing>
    <app-nav-menu
      routerLink="/platform/overview"
      routerLinkActive="active"
      size="normal"
    >
      <mat-icon class="stroke" btn-left-icon svgIcon="overview"></mat-icon>
      <span class="text text_regular t-special-bg">Overview</span>
    </app-nav-menu>
    <app-spacing type="l3"></app-spacing>
    <app-nav-menu size="normal">
      <mat-icon class="stroke" btn-left-icon svgIcon="wallet"></mat-icon>
      <span class="text text_regular t-special-bg">Wallet</span>
    </app-nav-menu>
    <app-spacing type="l3"></app-spacing>
    <app-nav-menu size="normal">
      <mat-icon class="stroke" btn-left-icon svgIcon="transaction"></mat-icon>
      <span class="text text_regular t-special-bg"
        >Transaction</span
      > </app-nav-menu
    ><app-spacing type="l3"></app-spacing>
    <app-nav-menu size="normal">
      <mat-icon class="stroke" btn-left-icon svgIcon="bill"></mat-icon>
      <span class="text text_regular t-special-bg">Bill</span> </app-nav-menu
    ><app-spacing type="l3"></app-spacing>
    <app-nav-menu size="normal">
      <mat-icon class="stroke" btn-left-icon svgIcon="expencces"></mat-icon>
      <span class="text text_regular t-special-bg"
        >Expencces</span
      > </app-nav-menu
    ><app-spacing type="l3"></app-spacing>
    <app-nav-menu size="normal">
      <mat-icon class="stroke" btn-left-icon svgIcon="goal"></mat-icon>
      <span class="text text_regular t-special-bg">Goal</span> </app-nav-menu
    ><app-spacing type="l3"></app-spacing>
    <app-nav-menu size="normal">
      <mat-icon class="stroke" btn-left-icon svgIcon="settings"></mat-icon>
      <span class="text text_regular t-special-bg">Settings</span>
    </app-nav-menu>
  </div>
  <div class="flex flex_column">
    <app-nav-menu type="link" routerLink="/auth/login">
      <mat-icon class="stroke" btn-icon-left svgIcon="logout"></mat-icon>
      <span class="text text-16-24 t-special-bg">Logout</span>
    </app-nav-menu>
    <app-spacing type="l8"></app-spacing>
    <app-user-panel></app-user-panel>
  </div>
</div>
