@import "../../../shared/styles/vars.colors";

:host {
  height: 100%;
}

.content {
  background-color: map-get($project-colors, "colors", gray-05);
}

app-sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 48px 28px;

  width: 280px;
  height: 100vh;

  background-color: map-get($project-colors, "colors", default-black);
}
