$main_font: "inter";

$project-colors: (
  "colors": (
    primary: #299d91,
    default-black: #191919,
    secondary: #525256,
    gray-01: #666,
    gray-02: #878787,
    gray-03: #9f9f9f,
    gray-05: #e8e8e8,
    gray-06: #f3f3f3,
  ),
  "special-colors": (
    red: rgba(231, 61, 28, 1),
    green: rgba(77, 175, 110, 1),
    bg: rgba(210, 210, 210, 0.25),
    white: rgba(255, 255, 255, 0.7),
    dark-white: rgba(255, 255, 255, 0.08),
  ),
);
