@import "../../../../../shared/styles/vars.colors";

.item_img {
  padding: 8px;
  border-radius: 8px;
  background: map-get($project-colors, "special-colors", bg);
}

.img_background {
  padding: 8px;
  background-color: map-get($project-colors, "special-colors", bg);
  border-radius: 8px;
}
