@import "src/shared/styles/widjets/icon_tools";
@import "src/shared/styles/vars.colors";
@import "src/shared/styles/vars.animations";
@import "src/shared/styles/layout/typography";

@mixin btn-big {
  height: 48px;
  padding: 0 32px;
  gap: 12px;
  span {
    @include text-16-24;
  }
}

@mixin btn-small {
  height: 16px;
  span {
    @include text-12-16;
  }
}

@mixin btn-disabled {
  cursor: not-allowed;
  background-color: #337b73;
}

@mixin btn {
  border-radius: 4px;
  cursor: pointer;
  line-height: 100%;
  width: 100%;

  &_left-iconly .btn_left-wrapper {
    display: block;
  }

  &_right-iconly .btn_right-wrapper {
    display: block;
  }

  &_only-iconly .btn_only-icon-wrapper {
    display: block;
  }

  &_icon-wrapper {
    display: none;
  }

  &.btn {
    &:disabled {
      @include btn-disabled;
    }
  }

  .mat-icon,
  &_icon-wrapper {
    @include icon-size(24px);
  }
}

@mixin btn-primary() {
  background-color: map-get($project-colors, "colors", primary);
  &,
  span {
    @include weight-semibold();
  }
}

@mixin btn-link() {
  background: transparent;
}

// custom
@mixin btn-custom-gray() {
  &.btn {
    &_link {
      background-color: map-get($project-colors, "colors", gray-04);
    }
  }
}

@mixin btn-custom-white() {
  &.btn {
    &_link {
      width: 24px;
      height: 24px;
      padding: 4px;
      border-radius: 20px;
      background-color: #fff;
    }
  }
}

.btn {
  @include btn;
  &.btn {
    // types
    &_primary {
      @include btn-primary;
    }
    &_link {
      @include btn-link;
    }
  }
  // size
  &.btn {
    &_big {
      @include btn-big;
    }
    &_small {
      @include btn-small;
    }
  }

  // customs
  &[custom="gray"] {
    @include btn-custom-gray;
  }
  &[custom="white"] {
    @include btn-custom-white;
  }
}
