.mat-checkbox-frame {
  border-color: red;
}

.mdc-checkbox {
  background-color: map-get($project-colors, "colors", primary);
}

::ng-deep.mdc-checkbox__background {
  border: none !important;
}

.mdc-checkbox.mdc-checkbox__checkmark {
  color: yellow;
}
