.example-margin {
  span {
    margin: 0 16px;
  }
}

.mdc-checkbox__background {
  width: 20px !important;
  height: 20px !important;
  background-color: map-get($project-colors, "colors", primary) !important;
  border: 2px solid map-get($project-colors, "colors", primary) !important;
}

.mdc-checkbox
  .mdc-checkbox__native-control:enabled
  ~ .mdc-checkbox__background
  .mdc-checkbox__checkmark {
  color: #fff !important;
}
