@import "../vars.colors";

form {
  width: 400px;
}

.mat-input {
  width: 100%;
  height: 48px;
  padding: 0 16px;
  border: 1px solid map-get($project-colors, "colors", gray-02);
  border-radius: 8px;
  gap: 24px;
  &.ng-invalid.ng-touched {
    border-color: #ffdcdc;
  }
}
