@import "src/shared/styles/widjets/icon_tools";
@import "src/shared/styles/vars.colors";
@import "src/shared/styles/vars.animations";
@import "src/shared/styles/layout/typography";

@mixin nav-menu-normal {
  height: 48px;
  padding: 0 16px;
  gap: 12px;
  span {
    @include text-16-24;
  }
}

@mixin nav-menu {
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  &_left-iconly .btn_left-wrapper {
    display: block;
  }

  .mat-icon,
  &_icon-wrapper {
    @include icon-size(24px);
    fill: map-get($project-colors, "special-colors", bg);
  }
  &.active {
    background: map-get($project-colors, "colors", primary);
    color: #ffffff;
    .mat-icon {
      stroke: #ffffff;
    }
    span {
      color: #ffffff;
      font-weight: 600;
    }
  }
}

@mixin nav-menu-default() {
  &:hover {
    span {
      color: #ffffff;
    }
  }
}

@mixin nav-menu-link() {
  background-color: map-get($project-colors, "special-colors", dark-white);

  &:hover {
    span {
      color: #ffffff;
    }
  }
}

.nav-menu {
  @include nav-menu;
  // types
  &.nav-menu {
    &_default {
      @include nav-menu-default;
    }
    &_link {
      @include nav-menu-link;
    }
  }

  // size
  &.nav-menu {
    &_normal {
      @include nav-menu-normal;
    }
  }
}
