<app-header>
  <ng-container header-title>Hello Tanzir</ng-container>
</app-header>
<div class="container">
  <p class="text text-22-32 text_regular t-gray-02">Account Details</p>
  <app-spacing type="l3"></app-spacing>
  <app-new-card>
    <app-card-content card-content>
      <div class="flex flex_align-center">
        <div class="item flex flex_grow flex_column">
          <p class="text text-16-24 text_regular t-gray-03">Bank Name</p>
          <p class="text text-18-20 text_bold t--secondary">AB Bank Ltd.</p>
        </div>
        <div class="item flex flex_grow flex_column">
          <p class="text text-16-24 text_regular t-gray-03">Account type</p>
          <p class="text text-18-20 text_bold t--secondary">Checking</p>
        </div>
        <div class="item flex flex_column">
          <p class="text text-16-24 text_regular t-gray-03">Balance</p>
          <p class="text text-18-20 text_bold t--secondary">$25,056.00</p>
        </div>
      </div>
      <app-spacing type="l7"></app-spacing>
      <div class="flex flex_align-center">
        <div class="item flex flex_grow flex_column">
          <p class="text text-16-24 text_regular t-gray-03">Branch Name</p>
          <p class="text text-18-20 text_bold t--secondary">
            park Street Branch
          </p>
        </div>
        <div class="item flex flex_grow flex_column">
          <p class="text text-16-24 text_regular t-gray-03">Account Number</p>
          <p class="text text-18-20 text_bold t--secondary">
            133 456 886 8****
          </p>
        </div>
        <div class="item flex"></div>
      </div>
      <app-spacing type="l7"></app-spacing>
      <div class="flex flex_align-center gap-32">
        <app-button size="custom-36" type="primary">
          <span class="text text-14-20 text_bold t-white">Edit Details</span>
        </app-button>
        <app-button size="normal">
          <span class="text text-16-24 text_regular t-primary">Remove</span>
        </app-button>
      </div>
    </app-card-content>
  </app-new-card>
  <app-spacing type="l5"></app-spacing>
  <p class="text text-22-32 text_regular t-gray-02">Transactions History</p>
  <app-spacing type="l3"></app-spacing>
  <app-new-card>
    <app-card-content card-content>
      <div class="flex flex_column">
        <div class="flex flex_justify-between flex_align-center">
          <div class="item flex">
            <p class="text text-16-24 text_bold t-black">Date</p>
          </div>
          <div class="item flex">
            <p class="text text-16-24 text_bold t-black">Status</p>
          </div>
          <div class="item flex">
            <p class="text text-16-24 text_bold t-black">Transaction Type</p>
          </div>
          <div class="item flex">
            <p class="text text-16-24 text_bold t-black">Receipt</p>
          </div>
          <div class="item flex">
            <p class="text text-16-24 text_bold t-black">Amount</p>
          </div>
        </div>
        <app-spacing type="l3"></app-spacing>
        <div class="flex flex_justify-between flex_align-center">
          <div class="item flex">
            <p class="text text-16-24 text_regular t-secondary">17 Apr, 2023</p>
          </div>
          <div class="item flex">
            <p class="text text-16-24 text_regular t-secondary">Complete</p>
          </div>
          <div class="item flex">
            <p class="text text-16-24 text_regular t-secondary">Credit</p>
          </div>
          <div class="item flex">
            <p class="text text-16-24 text_regular t-secondary">8C52d5DKDJ5</p>
          </div>
          <div class="item flex">
            <p class="text text-16-24 text_bold t-black">$160.00</p>
          </div>
        </div>
        <app-spacing type="l5"></app-spacing>
        <div class="flex flex_center">
          <app-button size="custom-36" type="primary">
            <span class="text text-14-20 text_bold t-white">load More</span>
          </app-button>
        </div>
      </div>
    </app-card-content>
  </app-new-card>
</div>
