html,
body {
  height: 100%;
}

body {
  margin: 0;
}

@import "src/shared/styles/_reset";
@import "src/shared/styles/layout/main";
@import "src/shared/styles/widjets/main";
@import "src/shared/styles/modals/main";
@import "src/shared/styles/vars.colors";

img,
svg {
  user-select: none;
  -webkit-user-drag: none;
  display: block;
}

.w100 {
  width: 100%;
}

.full-height {
  height: 100%;
}

.border {
  padding-bottom: 12px;
  border-bottom: 1px solid map-get($project-colors, "colors", gray-06);
}

// TODO: ПОМЕНЯТЬ ЦВЕТ
// ::-webkit-scrollbar {
//   background-color: map-get($project-colors, "gradation", 800);
//   width: 12px;
// }

// ::-webkit-scrollbar-thumb {
//   border: 3px solid map-get($project-colors, "gradation", 800);
//   background-color: map-get($project-colors, "gradation", 500);
//   border-radius: 4px;
// }
