<app-nav-menu type="link" routerLink="/auth/login">
  <mat-icon class="stroke" btn-icon-left svgIcon="logout"></mat-icon>
  <span class="text text-16-24 t-special-bg">Logout</span>
</app-nav-menu>
<app-spacing type="l8"></app-spacing>
<div class="flex flex_align-center flex_justify-between">
  <app-profile-picture></app-profile-picture>
  <div class="flex flex_column">
    <p class="text text-16-24 text_semibold t-white">Tanzir Rahman</p>
    <p class="text text-12-16 text_regular t-special-white">View profile</p>
  </div>
  <mat-icon svgIcon="menu"></mat-icon>
</div>
